<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="MongoDB_Address" value ="mongodb://IP:PORT"/>
    <add key="MongoDB_Database" value ="TestDatabase"/>
    <add key="MongoDB_Collection" value ="Tweet"/>
    <add key="GCS_jsonKey" value="asdf.json" />
    <add key="GCS_projectId" value="projectId" />
    <add key="GCS_bucketName" value="bucketName" />
    <add key="GCS_baseFolderName" value="PixivTweet" />
    <add key="Twitter_CONSUMERKEY" value ="1234"/>
    <add key="Twitter_CONSUMERSECRET" value ="1234"/>
    <add key="Twitter_ACCESSTOKEN" value ="QWERTY"/>
    <add key="Twitter_ACCESSTOKENSECRET" value ="QWERTY"/>
    <add key="Stream_FilterTrack" value ="ねこの日"/>
  </appSettings>
</configuration>